pelican==4.5.4
markdown==3.1.1
git+https://github.com/miracle2k/webassets#d1f3455e383446ca4ab0c644f326ee937e68e809
pelican-decorate-content==0.1.1
markdown-link-attr-modifier==0.2.1
markupsafe==2.0.1
