{% extends "base.html" %}

{% set title = 'Fair analytics blog | Offen' %}
{% set description = 'Developing Offen. A free and open source analytics software for websites and web applications that allows respectful handling of data.' %}
{% set href = 'blog/' %}
{% set no_stats = False %}
{% set template = 'archives' %}
{% set cta_1 = 'true' %}

{% block content %}
    {% for article in articles %}
    {% if loop.index != 1 %}
      <hr class="mb5 b--none">
    {% endif %}
    <div class="w-100 mt5-ns gray">
      <div class="mw7 center pt5 pb5 ph3 ph5-ns bg-white">
          {{ article.summary }}
      </div>
    </div>
    {% endfor %}
{% endblock %}
