{% extends "base.html" %}

{% set title = article.title + " | Offen" %}
{% set description = article.description %}
{% set href = article.save_as.replace('index.html', '') %}
{% set image_url = article.image_url %}
{% set no_stats = article.no_stats %}
{% set template = article.template %}
{% set bottom_cta = article.bottom_cta %}

{% block content %}
  <main class="w-100 mt5-ns gray">
    <div class="mw7 center pb5 bg-white">
      <div class="dib gray bg-white ph3 ph5-ns pt4">
        <p class="f4 ma0 mb4">
          Offen is a fair, open and self hosted web analytics tool that treats operators and users as equal parties.
        </p>
      </div>
      <figure class="ma0">
        <img alt="{{ title }}" src="{{ image_url }}"/>
        {% if article.image_caption %}
          <figcaption class="ph3 ph5-ns f7 normal moon-gray">
            {{ article.image_caption }}
          </figcaption>
        {% endif %}
      </figure>
      <div class="ph3 ph5-ns pt5">
        <h6 class="f5 lh-solid normal ma0 light-silver">
          {{ article.date | strftime('%d %b %Y') }}, {{ article.author }}
        </h6>
        {% if article.modified %}
          <h6 class="f5 lh-solid normal ma0 mt2 light-silver">
            Revised on {{ article.modified | strftime('%d %b %Y') }}
          </h6>
        {% endif %}
        {{ article.content }}
      </div>
    </div>
  </main>
{% endblock %}
