{% extends "page.html" %}

{% set is_getstarted = 'true' %}

{% block content %}
<div class="w-100 mt5-ns" id="bg-feature">
  <div class="pa4">
    <div class="mw8 center flex flex-column flex-row-ns mb5 pa3 cclr-mid-mint">
      <div class="w-100 w-60-ns">
        <h2 class="f25 normal tc tl-ns ma0 mb3">
          <em class="em-mint">
            Test Offen today
          </em>
        </h2>
        <p class="ma0 mb2 tc tl-ns">
          Our alpha release is ready for testing. Offen is free and always will be.
        </p>
        <p class="ma0 mb3 tc tl-ns">
          Be aware that things can still contain issues and that the upgrade path may be broken with upcoming releases.
        </p>
      </div>
      <div class="w-100 w-40-ns ml4-m ml6-l">
        <p class="b tc lh-title tracked-min ma0 mt3 mb2">
          Single binary file <br>for Linux, Windows or MacOS
        </p>
        <a class="w-100 tc b link dim ph4 pv2 dib b--solid bw2 brd-cclr-mid-black mb3 fnt-cclr-mid-black" href="{{ RELEASE_DIRECT_URL }}" rel="noopener">Download</a>
        <p class="b tc lh-title tracked-min ma0 mt4 mb2">
          Your own Offen instance
        </p>
        <a class="w-100 tc b link dim ph4 pv2 dib b--solid bw2 brd-cclr-mid-black mb2 fnt-cclr-mid-black" href="{{ HEROKU_DIRECT_URL }}" rel="noopener" target="_blank">Deploy to Heroku</a>
      </div>
    </div>
  </div>
</div>
<div class="w-100" id="bg-outro">
  <div class="pa4">
    <div class="mw8 center flex flex-column flex-row-ns mb5 pa3 cclr-mid-yellow">
      <div class="w-100 w-60-ns">
        <h2 class="f25 normal tc tl-ns ma0 mb3">
          <em>
            Kick things off
          </em>
        </h2>
        <p class="ma0 mb3 tc tl-ns">
          Running a website and need to collect usage statistics? Want to contribute as a developer? Our Docs will help you kick off.
        </p>
      </div>
      <div class="w-100 w-40-ns ml4-m ml6-l">
        <p class="b tc lh-title tracked-min ma0 mt3 mb2">
          Details on how to <br>run, use and develop Offen
        </p>
        <a class="w-100 tc b link dim ph4 pv2 dib b--solid bw2 brd-cclr-mid-black mb3 fnt-cclr-mid-black" href="https://docs.offen.dev/" rel="noopener" target="_blank">Open Docs</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
