{% extends "page.html" %}
{% set funnel = True %}

{% block content %}
<div class="w-100 mt5-ns cclr-bg-white-dark">
  <div class="mw8 center gray bg-white">
    <div class="flex justify-center pt3 ph4">

      <div class="w-100 w-80-m w-60-l flex flex-column">


        <h1 class="f3 normal ma0 mb3">
          A truly privacy focused Matomo alternative.
        </h1>

        <ul class="list pa0 ma0 mb3">
          <li class="mb2">
            Users actively give their consent to data collection.
          </li>
          <li class="mb2">
            They can delete it or opt out at any time with full data access.
          </li>
          <li>
            Offen is open source, lightweight, self hosted and free.
          </li >
        </ul>



        <div class="flex flex-wrap justify-between">
          <p class="f3 normal ma0">
            Switch today!
          </p>
          <div class="flex flex-wrap tc">
            <a class="w-100 w-auto-ns b link dim ph4 pv2 dib b--solid bw2 cclr-brd-black-mid cclr-fnt-black-mid mr0 mr2-ns" href="/try-demo/" rel="noopener">Try demo</a>
            <a class="w-100 w-auto-ns b link dim ph4 pv2 dib b--solid bw2 cclr-brd-black-mid white cclr-bg-black-mid" href="/get-started/" rel="noopener">Get started</a>
          </div>
        </div>





      </div>

    </div>
  </div>
</div>

{% endblock %}
