{% extends "base.html" %}

{% set title = page.title %}
{% set description = page.description %}
{% set href = page.save_as.replace('index.html', '') %}
{% set image_url = page.image_url %}
{% set no_stats = page.no_stats %}
{% set template = page.template %}
{% set cta_blog_article = page.cta_blog_article %}

{% block content %}
  <main class="w-100 mt5-ns gray">
    <div class="mw7 center pb5 bg-white">
      <div class="ph3 ph5-ns pt5">
        {{ page.content }}
      </div>
    </div>
  </main>
{% endblock %}
