<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for page in pages %}
  {% if not page.exclude_from_sitemap %}
    <url>
      <loc>{{ SITEURL }}/{{ page.save_as | replace('index.html', '') }}</loc>
      <priority>{{ page.sitemap_priority or 0.5 }}</priority>
    </url>
  {% endif %}
{% endfor %}
{% for article in articles %}
  {% if not article.exclude_from_sitemap %}
    <url>
      <loc>{{ SITEURL }}/{{ article.save_as | replace('index.html', '') }}</loc>
      <priority>{{ article.sitemap_priority or 0.5 }}</priority>
    </url>
  {% endif %}
{% endfor %}
</urlset>
