/* ---------------------------------------------------
COLORS NEW
----------------------------------------------------*/
/* Yellows */
.cclr-bg-yellow-mid {
	 background-color: #F7BF08;
}
.cclr-bg-yellow-bright {
	 background-color: #FDE28C;
}
.cclr-bg-yellow-bright-very {
	 background-color: #F9F7F2;
}

/* Mint */
.cclr-bg-mint-dark {
	 background-color: #9BC5BC;
}
.cclr-bg-mint-mid {
	 background-color: #BBD9D3;
}
.cclr-bg-mint-bright {
	 background-color: #DEF0ED;
}

/* Black */
.cclr-bg-black-mid {
	 background-color: #39352A;
}
.cclr-fnt-black-mid {
	 color: #39352A;
}
.cclr-brd-black-mid {
	 color: #39352A;
}

/* White */
.cclr-bg-white-fade {
	background: linear-gradient(218.39deg, #FFFFFF 1.47%, rgba(255, 255, 255, 0) 98.24%), #F9F7F2;
}


/* ---------------------------------------------------
COLORS OLD
----------------------------------------------------*/
/* Custom Tachyons classes */
.cclr-mid-yellow {
 background-color: #F7BF08;
}
.fnt-cclr-mid-yellow {
  color: #F7BF08;
}
.brd-cclr-mid-yellow {
  border-color: #F7BF08;
}
.cclr-yellow-bright {
  background-color: #fde28c;
}
.fnt-cclr-yellow-bright {
  color: #fde28c;
}
.cclr-mid-mint {
  background-color: #BBD9D3;
}
.fnt-cclr-mint-bright {
  color: #E2F6F2;
}
.cclr-mid-black {
  background-color: #39352A;
}
.fnt-cclr-mid-black {
  color: #39352A;
}
.brd-cclr-mid-black {
  border-color: #39352A;
}
.cclr-dark-white {
  background-color: #f9f7f2;
}


/* ---------------------------------------------------
LAYOUT
----------------------------------------------------*/
.menu {
  width: 100%;
  height: 4rem;  /* Tachyons mt5 */
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
}
.columns {
  column-count: 1;
}
/* Custom media query */
@media only screen and (min-width: 60rem) {
  .columns {
    column-count: 2;
    column-gap: 4em;
    column-rule: 0.18rem solid rgba(0,0,0,.05);
  }
}
/* Custom media query - extra small */
@media only screen and (max-width: 29.99em) {
  .menu {
    position: static;
  }
}
/* Custom Tachyons class */
/* OLD */
.w55-container,
.w55 {
	width: 20rem;
}
.w56 {
  width: 20rem;
	height: 480px;
}
/* Custom media query - extra small */
@media only screen and (max-width: 40em) {
  .w55-container {
    width: 100%;
  }
}

/* NEW */
.wx24 {
	width: 24rem;
}
.hx24 {
	height: 24rem;
}
.hx30 {
	height: 30rem;
}
.hx50 {
	height: 50rem;
}
/* Tachyons breakpoints 30 & 60 */
@media only screen and (max-width: 30em) {
	.wx24 {
		width: 86%;
	}
}


/* ---------------------------------------------------
TYPO AND LAYOUT ELEMENTS
----------------------------------------------------*/
.link:focus {
    outline: none;
}
/* Break long word on mobile */
body {
  overflow-wrap: break-word;
  overscroll-behavior: none;
}
/* Custom Tachyons class */
.f25 {
  font-size: 1.9rem;
}
span {
  display: table;
}
/* Custom media query - medium small - neutralize span line braks */
@media only screen and (max-width: 34em) {
  p span {
    display: initial;
  }
}
em {
  background: linear-gradient(transparent 66%, #fde28c 66%);
  font-style: normal;
}
.em-mint-1 {
  background: linear-gradient(transparent 66%, #E5FDF8 66%);
  font-style: normal;
}
.em-mint-2 {
  background: linear-gradient(transparent 66%, #BBD9D3 66%);
  font-style: normal;
}
hr {
  margin-left: -1rem;
  margin-right: -1rem;
}
.dim:focus {
  transition: none;
  opacity: 1;
}
ul {
  padding-inline-start: 2rem;
}
@media only screen and (max-width: 30em) {
  ul {
    padding-inline-start: 1rem;
  }
}
.tracked-min {
	letter-spacing:  .03em;
}
.intro-margin-a {
	margin-top: 0.3rem;
}
.intro-margin-b {
	margin-top: 0.7rem;
}


/* ---------------------------------------------------
MENU
----------------------------------------------------*/
.nav-bar {
  height: 4rem;
}
.icon {
  position: absolute;
  padding: 0.7rem 0 0 1.2rem;
  float: left;
}
body.index .icon {
  opacity: 0;
}
.nav-container {
  margin: 0 auto;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 1.4rem;
  line-height: 4rem;
  text-decoration: none;
  font-weight: 700;
  background: #F7BF08;
  color: #39352A;
}
nav ul li:last-child a {
	padding-right: 2rem;
  background: #39352A;
  color: #fff;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  color: #39352A;
}
nav ul li:last-child a:hover,
nav ul li:last-child a:visited:hover {
  color: #fff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 0.4rem;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 10rem;
}
nav ul li ul li a {
  padding: 1rem;
  line-height: 1.5rem;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
}
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #F7BF08;
  height: 4rem;
  width: 4rem;
}
/* Custom media query */
@media only screen and (max-width: 60rem) {
  .nav-list {
    margin: 0;
  }
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 0;
    padding-top: 4rem;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 1rem;
    line-height: 1;
	  padding-left: 4.2rem;
  }
  nav ul li ul li a {
    padding-left: 30%;
  }
  nav ul li:last-child a {
    padding-bottom: 1.2rem;
		margin: 0;
		box-shadow: 0px 7px 15px -6px rgba(57,53,42,0.2);
  }
	nav ul li:first-child a {
		padding-top: 0.2rem;
	}
  .nav-dropdown {
    position: static;
  }
}
/* Desktop Styles */
@media screen and (min-width: 60.1rem) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 1rem;
  top: 1rem;
  cursor: pointer;
  padding: 1rem 2rem 1rem 0;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  height: 0.1rem;
  width: 1.6rem;
  background: #39352A;
  position: absolute;
  display: block;
  content: '';
  /*
  transition: all 300ms ease-in-out;
  */
}
#nav-toggle span:before {
  top: -0.5rem;
}
#nav-toggle span:after {
  bottom: -0.5rem;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}


/* ---------------------------------------------------
IMAGES
----------------------------------------------------*/
/* Put article image outside of container margins */
.larger-image {
  margin-top: -4rem;
  margin-left: -1rem;
  margin-right: -1rem;
}
.smaller-image {
  width: 200px;
  height: 109px;
  margin-bottom: -2rem;
}
.screencast {
	border: 1px solid #DDDDDD;
}
/* Custom media query - extra small */
@media only screen and (min-width: 30em) {
  .larger-image {
    margin-top: -4rem;
    margin-left: -4rem;
    margin-right: -4rem;
  }
  .smaller-image {
    width: 350px;
    height: 190px;
  }
}


/* ---------------------------------------------------
GRAPHICS
----------------------------------------------------*/
#bg-intro {
  background: url(/theme/images/gfx-intro.svg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 200px 80px;
}
@media only screen and (min-width: 30.1em) and (max-width: 60em) {
	#bg-intro {
		background-position: calc(20% + 120px) 80px;
	}
}
@media only screen and (max-width: 30em) {
	#bg-intro {
		background-position: 10px 60px;
	}
}
/* --------------------------------------------- */
#bg-feature-1 {
  background: url(/theme/images/gfx-feature-1.png) center;
	background-repeat: no-repeat;
	background-size: 640px 480px;
}
#bg-feature-2 {
  background: url(/theme/images/gfx-feature-2.png) center;
	background-repeat: no-repeat;
	background-size: 640px 480px;
}
#bg-feature-3 {
  background: url(/theme/images/gfx-feature-3.png) center;
	background-repeat: no-repeat;
	background-size: 640px 480px;
}
/* --------------------------------------------- */
#bg-feature {
  background: url(/theme/images/gfx-pattern-mint-bright.svg) center;
}
#bg-cta-top {
  background: url(/theme/images/gfx-object-white.svg) center;
}
#bg-outro {
  background: url(/theme/images/gfx-pattern-yellow-bright.svg) center;
}
#bg-cta-bottom {
  background: url(/theme/images/gfx-pattern-yellow-bright.svg) center;
}
