/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'),
       url('../fonts/rubik-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v9-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local('Rubik Bold'), local('Rubik-Bold'),
       url('../fonts/rubik-v9-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v9-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v9-latin-500.ttf') format('truetype'); /* Safari, Android, iOS */
}
.rubik {
  font-family: rubik, sans-serif;
}